.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .page-number {
    background-color: transparent;
    font-size: 16px;
    color: black;
    font-weight: 900;
    margin-right: 10px;
    border: none;
    &.active {
      border: 0.5px solid #b9b9b9;
    }
  }
  .left-icon {
    margin-right: 30px;
  }
  .right-icon {
    margin-left: 20px;
  }
}
