.global-notification-wrapper {
  &> div {
    &[class*="notification-container"] {
      .notification {
        transition-duration: 400ms !important;
        &__item {
          padding: 16px 40px;
          border: 1px solid #22BB22;
          border-radius: 6px;
          background-color:  #DDEEDD;
          box-shadow: 0px 0px 40px 1px rgba(#888888, 0.4) ;
        }
      }
    }
  }
}