.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 25% 0px;

  & > div {
    width: 100%;
    box-sizing: border-box;
  }
  &__submit-link-container {
    margin-bottom: 20px;
  }
  &__separator {
    height: 2px;
    background-color: #eaedef;
    margin-bottom: 15px;
  }

  &__item-list {

  }
  &__dropdown-container {
    width: 50% !important;
    align-self: flex-start;
    margin-bottom: 15px;
  } 
  &__remove-modal {
    width: 100%;
    height: 100%;
    background-color: #eaedef;
    display: flex;
    flex-direction: column;
    &-header {
      background-color: black;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      & > .close-icon {
        background-color: transparent;
        border: none;
        font-size: large;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      &-upper {
        color: #6a6d6c;
        font-size: 20px;
        font-weight: bolder;
      }
      &-lower {
        color: black;
        font-size: 32px;
        font-weight: bolder;
        text-transform: uppercase;
      }
    }
    &-buttons {
      display: flex;
      padding: 0px 100px 40px;
      justify-content: space-around;
      & > button {
        background-color: black;
        color: white;
        font-size: 28px;
        font-weight: bolder;
        padding: 5px 25px;
        border-radius: 20px;
        margin-top: 20px;
        &:hover {
          cursor: pointer;
        }
      }
      
    }
    
  }

  &__Modal {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    bottom: 30%;
    background-color: transparent;
  }

  &__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(transparent 0%, black 140%);
  }
}