.list-item-container {
  display: flex;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #eaedef;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    

    & > .remove-sign {
      display: block;
    }
  }
  .item-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    &-link {
      &__name {
        font-size: 16px;
        font-weight: bold;
      }
      &__url {
        font-size: 12px;
        color: #6a6d6c;
      }
    }
    &-vote {
    
      display: flex;
      justify-content: space-between;
      &__button {
        font-size: 12px;
        color: #6a6d6c;
        background-color: transparent;
        border: none;
        &-arrow {
          margin-right: 5px;
        }
      }
    }
  }
  & > .remove-sign {
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  }
  
}