.submitlink-container {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 6px;
  background-color: #eaedef;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  .big-title {
    font-size: 30px;
    font-weight: bolder;
    margin: 0px 20px;
  }
}
