.add-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .page-nav {
    margin-bottom: 40px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
  }
  .return-icon {
    margin-right: 10px;
  }
  .form-header {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 30px;
  }
  .input-label {
    margin-left: 5px;
  }
  .form-input {
    border-color: #f1efef;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
  }
  .add-button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 20px;
    margin-top: 20px;
    float: right;
  }
  &__notification-content {
    color: #22BB22;
    font-size: 32px;
    font-weight: 500;
    word-break: break-all;
    &__link {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
