.square-container {
  border-style: solid;
  border-width: 1px;
  border-color: #6a6d6c;
  border-radius: 6px;
  background-color: #d9dfdd;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .vote-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .vote-count {
    font-size: 30px;
    font-weight: bolder;
  }
  .text {
    font-size: 14px;
  }
  .symbol {
    font-size: 50px;
  }
}
